<div itemscope itemtype="http://schema.org/LocalBusiness">
  <span class="hide" itemprop="name"><%= title %></span>
  <span class="hide" itemprop="description"><%= description %></span>
  <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    <span itemprop="streetAddress"><%= address %></span>
    <span itemprop="addressLocality"><%= city %></span>,
    <span itemprop="addressRegion"><%= state %></span>
  </div>
  <span class="hide" itemprop="telephone"><%= phone %></span>
</div>
