<footer class="o-footer u-hidden@print" role="contentinfo">
<div class="o-footer__top">
  <div class="u-row">
    <div class="o-footer__catch">
      <h4>It's time to protect what matters most.</h4>
      <a role="button" href="/insurance-quotes">Get a Quote</a>
    </div>
  </div>
</div>
<div class="o-footer__middle">
  <div class="u-row">
    <div class="o-footer__companyinfo">
      <div class="o-footer__logo">
        <img src="/images/logo--inverse.png" alt="<%- title %>">
      </div>
      <div class="o-footer__address">
        <ul class="o-footer__address__list">
          <li><%- partial("_address") %></li>
          <li>G3-181 Perry Street, Port Perry 905 985 8078</li>
          <li>76 King Street, Woodville 705 439 2406</li>
          <li>199 Sherbrooke Street, Peterborough 705 743 3382</li>
          <li>47 Colborne Street, Fenelon Falls 705 887 2517</li>
          <li>79 Bolton Street, Bobcaygeon 705 738 6000</li>
        </ul>
      </div>
    </div>
    <div class="o-footer__widget">
      <h6>Recent News</h6>
      <ul class="o-footer__widget__list">
        <li><a href="#">Blog Post Title</a></li>
        <li><a href="#">Blog Post Title</a></li>
        <li><a href="#">Blog Post Title</a></li>
        <li><a href="#">Blog Post Title</a></li>
        <li><a href="#">Blog Post Title</a></li>
      </ul>
    </div>
    <div class="o-footer__widget">
      <h6>Need More?</h6>
      <ul class="o-footer__widget__list">
        <li><a href="#">Page Title</a></li>
        <li><a href="#">Page Title</a></li>
        <li><a href="#">Page Title</a></li>
        <li><a href="#">Page Title</a></li>
        <li><a href="#">Page Title</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="o-footer__bottom">
  <div class="u-row">
    <div class="o-footer__credit">
      <p class="copyright">&copy; <script>document.write(new Date().getFullYear());</script> <%= title %>, All Rights Reserved. Prototype by <a href="http://<%= authorUrl %>"><%= author %></a> in Oregon</p>
    </div>
    <div class="o-footer__social">
      <%- partial("_social") %>
    </div>
  </div>
</div>
</footer>
