<div class="o-niches u-hidden@print">
  <ul class="o-niches__list">
    <%- partial('../components/card/_card', { name: "Auto", action: "Get a Quote" }) %>
    <%- partial('../components/card/_card', { name: "Home", action: "Get a Quote" }) %>
    <%- partial('../components/card/_card', { name: "Lifestyle", action: "Get a Quote" }) %>
    <%- partial('../components/card/_card', { name: "Business", action: "Get a Quote" }) %>
    <%- partial('../components/card/_card', { name: "Farm", action: "Get a Quote" }) %>
  </ul>
</div>
