<div class="o-niches u-hidden@print">
  <ul class="o-niches__list">
    <%- partial('../components/card/_card', { name: "Your Auto", action: "Get a Quote", image: "auto_000015122619.jpg" }) %>
    <%- partial('../components/card/_card', { name: "Your Home", action: "Get a Quote", image: "home_000014471914.jpg" }) %>
    <%- partial('../components/card/_card', { name: "Your Lifestyle", action: "Get a Quote", image: "lifestyle_000008545106.jpg"  }) %>
    <%- partial('../components/card/_card', { name: "Your Business", action: "Get a Quote", image: "business_000019184084.jpg"  }) %>
    <%- partial('../components/card/_card', { name: "Your Farm", action: "Get a Quote", image: "farm_000017391831.jpg"  }) %>
  </ul>
</div>
