<h1>Personal Insurance</h1>
<h4 class="subheader">Don't just quote, <em>understand</em>!</h4>
<p>Welcome to our Insurance Quotes Center! Just click on the type of insurance you would like a quote for and we'll get a quote right away.</p>
<div class="o-niches u-hidden@print">
  <ul class="o-niches__list">
    <%- partial('components/card/_card', { name: "Annuity", action: "Get a Quote", image: "personal-photos/annuity.jpg" }) %>
    <%- partial('components/card/_card', { name: "Auto", action: "Get a Quote", image: "auto_000015122619.jpg" }) %>
    <%- partial('components/card/_card', { name: "Boat", action: "Get a Quote", image: "personal-photos/boat.jpg" }) %>
    <%- partial('components/card/_card', { name: "Classic Car", action: "Get a Quote", image: "personal-photos/classic_car.jpg" }) %>
    <%- partial('components/card/_card', { name: "Coastal Property", action: "Get a Quote", image: "personal-photos/coastal_property.jpg" }) %>
    <%- partial('components/card/_card', { name: "Condo", action: "Get a Quote", image: "personal-photos/condo.jpg" }) %>
    <%- partial('components/card/_card', { name: "Earthquake", action: "Get a Quote", image: "personal-photos/earthquake.jpg" }) %>
    <%- partial('components/card/_card', { name: "Flood", action: "Get a Quote", image: "personal-photos/flood.jpg" }) %>
    <%- partial('components/card/_card', { name: "Health", action: "Get a Quote", image: "personal-photos/health.jpg" }) %>
    <%- partial('components/card/_card', { name: "High Value Home", action: "Get a Quote", image: "personal-photos/hv_home.jpg" }) %>
    <%- partial('components/card/_card', { name: "Home", action: "Get a Quote", image: "personal-photos/home.jpg" }) %>
    <%- partial('components/card/_card', { name: "Lifestyle", action: "Get a Quote", image: "lifestyle_000008545106.jpg"  }) %>
    <%- partial('components/card/_card', { name: "Long Term Care", action: "Get a Quote", image: "personal-photos/long_term_care.jpg"  }) %>
    <%- partial('components/card/_card', { name: "Medicare Supplements", action: "Get a Quote", image: "personal-photos/medicare_supplements.jpg"  }) %>
    <%- partial('components/card/_card', { name: "Motorcycle", action: "Get a Quote", image: "personal-photos/motorcycle.jpg"  }) %>
    <%- partial('components/card/_card', { name: "Power Sports", action: "Get a Quote", image: "personal-photos/power_sports.jpg"  }) %>
    <%- partial('components/card/_card', { name: "Renters", action: "Get a Quote", image: "personal-photos/renters.jpg"  }) %>
    <%- partial('components/card/_card', { name: "RV", action: "Get a Quote", image: "personal-photos/rv.jpg"  }) %>
    <%- partial('components/card/_card', { name: "Senior Driver", action: "Get a Quote", image: "personal-photos/senior_driver.jpg"  }) %>
    <%- partial('components/card/_card', { name: "Umbrella", action: "Get a Quote", image: "personal-photos/umbrella.jpg"  }) %>
    <%- partial('components/card/_card', { name: "Watercraft", action: "Get a Quote", image: "personal-photos/watercraft.jpg"  }) %>
  </ul>
</div>
<p>At company, we believe consumers should be educated on their purchasing decisions. You're not buying insurance just because you need to. You're buying it because you want to be protected in case anything bad happens.</p>
<p>That's why we've created a Research Center with articles to help you. Inside, you'll find help with topics like…</p>
<ul>
  <li><a href="#">Real Life Situations</a></li>
  <li><a href="#">Getting married or engaged?</a></li>
  <li><a href="#">Buying a new car?</a></li>
  <li><a href="#">Teen going to college?</a></li>
  <li><a href="#">11 Money Saving Car Insurance Tips</a></li>
</ul>

<hr>

<a href="#">&hellip;And More!</a>
